<div class="nav-container">
    <nav class="navigation">
        <ul class="navbar">
            <li class="nav-items">
                <a href="#" class="logo"></a>
            </li>
            <li class="nav-items">
                <a href="">Shop</a> 
            </li>
            <li class="nav-items">
                GPU
            </li>
            <li class="nav-items">
                CPU
            </li>
            <li class="nav-items">
                Ready to use PC
            </li>
            <li class="nav-items">
                Accessoires
            </li>
            <li>
                <a href=""  class="search">
                    
                </a>
            </li>
        </ul>

    </nav>
</div>